services:
  # Nginx Reverse Proxy
  nginx:
    image: nginx:alpine
    restart: unless-stopped
    env_file:
      - .env.prod
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      #- ./certs:/etc/nginx/certs:ro
      #- ./nginx/logs:/var/log/nginx
    networks:
      - chirp-django-net
    depends_on:
      - frontend
    healthcheck:
      test: ["CMD", "nginx", "-t"]
      interval: 30s
      timeout: 10s
      retries: 3

  # Frontend Production Build
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_WEBSOCKET_URL: ${VITE_WEBSOCKET_URL}
        VITE_API_URL: ${VITE_API_URL}
        VITE_WS_NOTIFY_URL: ${VITE_WS_NOTIFY_URL}
    restart: unless-stopped
    env_file:
      - .env.prod
    volumes:
      - frontend-dist:/app/dist
    networks:
      - chirp-django-net
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:5173"]
      interval: 30s
      timeout: 10s
      retries: 3


volumes:
  frontend-dist:

networks:
  chirp-django-net:
    external: true
