ion-item.custom ion-input.custom {
    --placeholder-color: #858585;
    --border-color: #cccccc;
    --highlight-color-focused: #000000;
}

ion-item.custom{
    --padding-start: 0px;
    --font-size: 14px;
    --inner-padding-end: 0px;
    --inner-border-width: 0px;
    align-items: unset;
    --border--style: 0px;
    box-shadow: none!important;
    --border-radius: 0px!important;
}
ion-input-password-toggle.custom ion-button {
    --color: #000000;
    
}
ion-item.custom .country-selector-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    cursor: pointer;
    min-height: 56px;
    position: relative;
    border-bottom: solid 1px black;
    border-radius: 4px 4px 0px 0px;

}

ion-modal{
    --border-radius: 12px;
}

ion-searchbar.custom{
    --border-radius: 50rem;
    --box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, 0.14);
}

ion-header.custom{
    box-shadow: none;
}

ion-card{
  box-shadow:  0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-chip ion-icon{
    margin-inline: 0px;
}

ion-card-header.custom {
    padding-bottom: 0px;
}
ion-card-content.custom {
    padding-top: 0px;
}