@import "tailwindcss/utilities";
@import "tailwindcss/theme";

body a {
    color: var(--color-amber-600);
}

ion-item.custom ion-input.custom {
    --placeholder-color: #858585;
    --border-color: #cccccc;
    --highlight-color-focused: #000000;
}

ion-item.custom{
    --padding-start: 0px;
    --font-size: 14px;
    --inner-padding-end: 0px;
    --inner-border-width: 0px;
    align-items: unset;
}
ion-input-password-toggle.custom ion-button {
    --color: #000000;
    
}

.connection-status {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e5e7eb;
}

ion-item.custom .country-selector-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 16px;
    cursor: pointer;
    min-height: 56px;
    position: relative;
    border-bottom: solid 1px black;
    border-radius: 4px 4px 0px 0px;
}

ion-modal{
    --border-radius: 12px;
}

.divider{
  margin: 1rem 0;
  border-top: 1px solid var(--color-zinc-200);
}