@import "tailwindcss/utilities";
@import "tailwindcss/theme";

/* Import Ionic custom colors */
@import "../../plugins/ionic/styles/colors.css";
@import "./ion-custom.css";
@import "./card-styles.css";
@import "./chart-styles.css";
@import "./auth-styles.css";
@import "./common.css";
@import "./footer.css";
@import "./tabs.css";

body a {
    color: var(--color-amber-600);
}


.table-header {
  background-color: var(--color-zinc-100);
  font-weight: 600;
}

.connection-status {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #e5e7eb;
}

.table-card {
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.divider{
  margin: 1rem 0;
  border-top: 1px solid var(--color-zinc-200);
}


.header-title {
  display: flex;
  align-items: center;
  gap: 0;
  width: fit-content;
}

.header-title ion-back-button {
  display: flex;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
  --padding-start: 0;
  --padding-end: 0;
  --margin-start: 0;
  --margin-end: 0;
  --min-width: auto;
  height: auto;
}

.header-title h1 {
  margin: 0;
  padding: 0;
  color: #374151;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
}


@media (max-width: 768px) {
  .back-button-text {
    display: none;
  }
}
